
@{
    ViewBag.Title = "ListArticle";
}

<h2>ListArticle</h2>



@if (@ViewBag.listArticle != null)
{
    foreach (var item in @ViewBag.listArticle)
    {
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <!-- Post preview-->
                <div class="post-preview">
                    <a href="/Article/Detail/@item.ArticleID">
                        <h2 class="post-title">@item.ArticleName</h2>
                    </a>
                    <p class="post-meta">
                        Posted by
                        <a href="/User/Detail?username=@item.Username">@item.Username</a> on @item.CreatedTime
                    </p>
                    <p class="post-meta">
                        <i class="far fa-thumbs-up"></i> @item.LikeNumber
                    </p>
                </div>
                <!-- Divider-->
                <hr class="my-4">

            </div>
        </div>
    }
}






